@font-face {
  font-family: "newberolina";
  src: url({{ solid.files_url }}/newberolina.eot?) format('eot'),
    url({{ solid.files_url }}/newberolina.woff) format('woff'),
    url({{ solid.files_url }}/newberolina.ttf) format('truetype'),
    url({{ solid.files_url }}/newberolina.svg#GnuolaneFreeRegular) format('svg');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p {padding-bottom: 15px;}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html{
  font-size:100.01%;
  height:100%;
}
body{
  margin:0;
  color:#000;
  font:12px/15px Arial, Helvetica, sans-serif;
  background:#fff url({{ solid.files_url }}/bg-body.png);
  font-size:100.01%;
  height:100%;
}
img{border-style:none;}
a{
  text-decoration:none;
  color:#b80019;
}
a:hover{text-decoration:underline;}
input,
textarea,
select{
  font:100% Arial, Helvetica, sans-serif;
  vertical-align:middle;
  color:#000;
}
form,fieldset{
  margin:0;
  padding:0;
  border-style:none;
}
#wrapper{
  width:965px;
  height:100%;
  display:table;
  margin:0 auto;
  padding:0;
}
#content {
  width:100%;
  display:table-row;
  background:url({{ solid.files_url }}/wrapper-bg.png) repeat-y;
}
#header{
  overflow:hidden;
}
#header .block-holder{
  background:url({{ solid.files_url }}/header-block-l.png) no-repeat;
  padding:0 0 0 8px;
  overflow:hidden;
}
#header .block{
  background:url({{ solid.files_url }}/header-block-c.png);
  overflow:hidden;
  margin:0 6px 0 0;
}
#header .block ul{
  background:url({{ solid.files_url }}/header-block-r.png) no-repeat 100% 0;
  float:right;
  padding:0 9px 0 0;
}
#header .block ul li{
  float:left;
  background:url({{ solid.files_url }}/separator-header-block.png) no-repeat 0 50%
}
#header .block ul li:first-child{
  background:none;
}
#header .block ul li a{
  display:block;
  color:#fff;
  font:12px/30px Arial, Helvetica, sans-serif;
}
#header .block ul li a.basket{
  background:url({{ solid.files_url }}/basket.png) no-repeat 0 50%;
  padding:0 20px 0 30px;
}
#header .block ul li a.card{
  background:url({{ solid.files_url }}/card.png) no-repeat 20px 50%;
  padding:0 25px 0 47px;
}
#header .block ul li a.help{
  background:url({{ solid.files_url }}/help.png) no-repeat 17px 50%;
  padding:0 16px 0 38px;
}
#header .box{
  overflow:hidden;
  margin:1px 0 45px 1px;
  padding:35px 0 0;
}
.logo{
  width:140px;
  height:78px;
  background:url({{ solid.files_url }}/city-logo.jpg) no-repeat;
  text-indent:-9999px;
  overflow:hidden;
  float:left;
  margin:2px 59px 0 30px;
}
.logo a{
  display:block;
  height:100%;
}
#header .frame{
  width:447px;
  float:left;
}
.box h1{
  font:24px/14px "newberolina", Arial, Helvetica, sans-serif;
  color:#b80019;
  margin: 0 0 20px;
}
.box p{
  color:#1d3e59;
  font:12px/19px Georgia, Times, serif;
  margin-bottom: 15px;}

.basket-block{
  float:right;
  width:221px;
  overflow:hidden;
  text-align:right;
  padding: 0 0 0 20px;
  margin:0 28px 0 0;
}
#wrapper .value{
  float:right;
  height:29px;
  color:#fff;
  font:20px/29px Georgia, Times, serif;
  background:url({{ solid.files_url }}/value-l.png);
  margin:0 6px 20px 20px;
}
#wrapper .value span:hover{
  text-decoration:underline;
}
#wrapper .value span{
  background:url({{ solid.files_url }}/value-r.png) no-repeat 100% 0;
  display:inline-block;
  height:29px;
  text-align:center;
  padding:0 15px;
}
.basket-block strong{
  display:block;
  color:#b80019;
  font:24px/24px "newberolina", Arial, Helvetica, sans-serif;
  margin:-3px 0 8px;
}
.basket-block .basket-frame{
  float:left;
  margin:0 0 0 12px;
}
.basket-block a{
  color:#183350;
  font:15px Georgia, Times, serif;
}
.nav-block{
  overflow:hidden;
  background:url({{ solid.files_url }}/nav-l.png) no-repeat;
  padding:0 0 0 11px;
  margin:0 33px 0 30px;
}
.nav-holder{
  background:url({{ solid.files_url }}/nav-r.png) no-repeat 100% 0;
  padding:0 6px 0 0;
  overflow:hidden;
}
.nav{
  background:url({{ solid.files_url }}/bg-nav.jpg) no-repeat ;
  overflow:hidden;
  padding: 0 0 0 25px;
  margin:0 30px 0 30px;
  background-size: 100% 100%;
}
.nav li{
  float:left;
}
.nav li a{
  color:#fff;
  font:16px/20px Georgia, Times, serif;
  display:block;
  padding:10px 0 0;
  margin:0 14px 0 0;
}
.nav a.home{
  text-indent:-9999px;
  overflow:hidden;
  background:url({{ solid.files_url }}/home.png) no-repeat 50% 50%;
  padding:10px  20px 15px 5px;
  margin:0 35px 0 0
}
.nav a.home2{
  text-indent:-9999px;
  overflow:hidden;
  /*background:url({{ solid.files_url }}/home.png) no-repeat 50% 50%;*/
  padding:10px  20px 15px 5px;
  margin:0 35px 0 0
}

.center1 {padding-left: 100px;}
.center2 {padding-left: 100px;}

#main{

   overflow:hidden;
  padding:26px 0 0 30px;
}
#main h2{
  color:#b8051e;
  font:24px "newberolina", Arial, Helvetica, sans-serif;
  padding:0 0 21px 34px;
}
#main p{
  color:#1d3e59;
  font:12px/19px Georgia, Times, serif;
 
}
#main .holder{
  width:774px;
  margin:-8px 0 0 33px;
}
.main-block{
  background:url({{ solid.files_url }}/photo-block-t.png) no-repeat;
  padding:7px 0 0;
  margin:0 0 43px;
}
.main-holder{
  background:url({{ solid.files_url }}/photo-block-b.png) no-repeat 0 100%;
  padding:0 0 6px;
}
.main-holder ul{
  background:url({{ solid.files_url }}/photo-block-c.png);
  padding:22px 0 24px 6px;
  width:896px;
}
.main-holder p{
  background:url({{ solid.files_url }}/photo-block-c.png);
  padding:5px 15px 5px 6px;
  width:896px;
}
.main-holder ul li{
  display:inline-block;
  vertical-align:top;
  background:url({{ solid.files_url }}/photo-li-t.png) no-repeat;
  padding:8px 0 0;
  margin:0 0 0 24px;
}
.main-holder .main-box{
  background:url({{ solid.files_url }}/photo-li-b.png) no-repeat 0 100%;
  padding:0 0 7px;
  margin-bottom: 30px;
}
.main-holder .main-frame{
  background:url({{ solid.files_url }}/photo-li-c.png);
  width:202px;
  padding:22px 30px 6px 30px;
}
.main-frame img{
  margin:0 0 15px;
}
.main-frame strong{
  display:block;
  color:#001335;
  font:15px Georgia, Times, serif;
}
#main .to-basket{
  overflow:hidden;
  background:url({{ solid.files_url }}/btn-l.png) no-repeat;
  display:inline-block;
  margin:5px 0 0;
}
#main .to-basket span{
  background:url({{ solid.files_url }}/btn-r.png) no-repeat 100% 0;
  color:#fff;
  font:13px/30px Georgia, Times, serif;
  display:inline-block;
  padding:0 9px;
}
#main .to-basket span:hover{
  text-decoration:underline;
}
#main .block{
  overflow:hidden;
  padding:35px 0 0;
  margin:0 30px;
}
#main .block{
  width:875px;
  overflow:hidden;
  margin:0 0 28px 30px;
}
#main .block-holder{
  width:272px;
  background:url({{ solid.files_url }}/column-b.png) no-repeat 0 100%;
}
#main .block-frame{
  width:593px;
  margin-right:-5933px;
  position:relative;
  left:100%;
  background:url({{ solid.files_url }}/gallery-b.png) no-repeat 10px 100%;
  padding:0 0 8px;
}
#main .block-frame:after{
  content:"";
  display:block;
  clear:both;
}
#main .column{
  float:left;
  width:272px;
  margin-right:-100%;
  position:relative;
  left:-272px;
}
.first-block{
  background:url({{ solid.files_url }}/column-block-t.png) no-repeat;
  padding:8px 0 0;
  margin:0 0 28px
}
.column-block{
  background:url({{ solid.files_url }}/column-block-t.png) no-repeat;
  padding:8px 0 0;
}
.column-holder{
  background:url({{ solid.files_url }}/column-block-b.png) no-repeat 0 100%;
  padding:0 0 8px;
}
.column-frame{
  background:url({{ solid.files_url }}/column-block-c.png);
  padding:4px 30px 0;
  overflow:hidden;
}
#main .column-frame h2{
  padding:0 0 21px 2px;
}
.column-frame .category{
  padding:0 0 77px 43px;
  margin:-3px 0 0;
}
.column-frame .low{
  margin:23px 0 0;
}
.column-frame .category li:first-child{
  margin:0;
}
.column-frame .category li{
  margin:8px 0 0;
}
.column-frame .category li a{
  color:#1d3e59;
  font:16px Georgia, Times, serif;
  padding:0 0 0 20px;
}
.column-frame .category li a:hover{
  color:#ac0000;
  background:url({{ solid.files_url }}/arrow.png) no-repeat 0 50%;
  text-decoration:none;
}
.column-frame .pallete{
  overflow:hidden;
  padding:8px 0 0;
  margin:0 0 15px;
}
.column-frame .pallete span{
  float:left;
  overflow:hidden;
  width:60px;
  color:#1d3e59;
  font:12px/15px Georgia, Times, serif;
}
.column-frame .pallete li{
  margin:0 0 3px;
  overflow:hidden;
  padding:0 0 0 3px;
}
.column-frame .pallete strong{
  float:left;
  width:120px;
  display:block;
  color:#1d3e59;
  font:12px/15px Georgia, Times, serif;
  margin:0 25px 0 0;
}
.column-frame .pallete .close{
  float:left;
  width:15px;
  height:15px;
  background:url({{ solid.files_url }}/close.png);
  margin:3px 0 0;
  overflow:hidden;
  text-indent:-9999px;
}
#wrapper .column-frame .value{
  float:left;
  margin:0 0 85px;
}
#main .card{
  overflow:hidden;
  background:url({{ solid.files_url }}/btn2-l.png) no-repeat;
  display:inline-block;
  padding:0 0 0 30px;
  margin:0 0 0 25px;
}
#main .card span{
  background:url({{ solid.files_url }}/btn-r.png) no-repeat 100% 0;
  color:#fff;
  font:13px/30px Georgia, Times, serif;
  display:inline-block;
  padding:0 12px;
}
#main .card span:hover{
  text-decoration:underline;
}
#wrapper .column-frame .value span{
  padding:0 25px;
}
#main .gallery-block{
  float:right;
  width:559px;
  background:url({{ solid.files_url }}/gallery-t.png) no-repeat ;
  padding:9px 34px 0 0;
  margin:0 -10px 0 0;
}
.gallery-frame{
  background:url({{ solid.files_url }}/gallery-c.png);
  padding:3px 10px 15px 25px;
}
#main .gallery-frame h2{
  padding:0 0 21px 2px;
}
.gallery-box{
  overflow:hidden;
  margin:0 0 12px;
}
.gallery-info{
  float:right;
  width:158px;
  margin:0 30px 0 0;
}
.gallery-info dl{
  font:12px/19px Georgia, Times, serif;
  color:#1d3e59;
  padding:3px 0 0;
  margin:0 0 28px;
}
.gallery-info dt{
  margin:0 0 1px;
}
.gallery-info dd{
  margin:0 0 0 37px;
  font-style:italic;
}
.gallery-info strong{
  color:#b80019;
  font:bold 24px Georgia, Times, serif;
  display:block;
  margin: 12px 0 0 -3px;
}
.gallery-frame h3{
  color:#0c1f3f;
  font:24px "newberolina", Arial, Helvetica, sans-serif;
  margin:0 0 38px;
}
.column-nav {
  overflow:hidden;
  clear:both;
  padding:0 0 20px;
  margin:0 -27px 0 -15px;
}
.column-nav li{
  float:left;
  background:url({{ solid.files_url }}/separator-column-nav.png) no-repeat 0 50%;
}
.column-nav li:first-child{
  background:none;
}
.column-nav li a{
  color:#1d3e59;
  font:11px Georgia, Times, serif;
  display:block;
  padding:0 3px 0 4px;
}
.add-block{
  margin:0 30px;
  background:url({{ solid.files_url }}/add-category-t.png) no-repeat;
  padding:8px 0 0;
}
.add-holder{
  background:url({{ solid.files_url }}/add-category-b.png) no-repeat 0 100%;
  padding:0 0 9px;
}
.add-frame{
  background:url({{ solid.files_url }}/add-category-c.png);
  padding:10px 0 15px;
  overflow:hidden;
  width:842px;
}
.add-frame ul{
  overflow:hidden;
  padding:0 0 0 3px;
  width:1000px;
  background:url({{ solid.files_url }}/separator-add-block.png) repeat-y 276px 0;
}
.add-frame ul .last{
  margin:0 0 0 25px;
}
.add-frame ul li{
  padding:9px 109px 22px 29px;
  margin:0;
  height:60px;
}
.add-frame ul li a{
  background:url({{ solid.files_url }}/img1.jpg) no-repeat;
  padding:7px 0 8px 75px;
  float:left;
  color:#001334;
  font:12px Georgia, Times, serif;
  margin:0 112px 0 0;
}
.add-frame ul li a span{
  display:block;
  }
.add-frame li.second  a{
  background:url({{ solid.files_url }}/img2.jpg) no-repeat;
}
#footer {
  width:100%;
  display:table-footer-group;
  position:relative;
}
#footer .footer-holder {
  height:1%;
  display:table-row;
  background:url({{ solid.files_url }}/wrapper-bg.png) repeat-y;
}
#footer .footer-frame {
  display:table-cell;
  background:url({{ solid.files_url }}/wrapper-holder-bg.png) no-repeat 0 100%;
  padding:42px 0 32px;
}
#footer .footer-contact{
  background:url({{ solid.files_url }}/bg-nav.jpg) no-repeat;
  overflow:hidden;
  padding: 0 0 0 25px;
  margin:0 30px 0 30px;
  height:45px;
}
#footer .footer-contact strong{
  display:block;
  color:#fff;
  font:14px Georgia, Times, serif;
}
#footer .contact-info,
#footer .footer-contact address{
  background:url({{ solid.files_url }}/separator-contact-block.png) repeat-y;
  padding:0 69px;
  float:left;
  margin:3px 0 0;
}
#footer .footer-contact h4{
  font:24px "newberolina", Arial, Helvetica, sans-serif;
  color:#fff;
  padding:8px 102px 0 0;
  margin:0 10px 0 40px;
  background:none;
  float:left;
}
#footer .footer-contact a{
  font:14px Georgia, Times, serif;
  color:#fff;
  margin:0;
  padding:0;
}
#footer .block-holder{
  overflow:hidden;
  padding:44px 0 12px 55px;
}
.footer-box{
  float:left;
  width:256px;
  padding:10px 21px 0 0;
}
.footer-block{
  float:left;
  width:269px;
  padding:0 21px 0 0;
}

.footer-box .box{
  margin:10px 0 0;
}
.footer-box p{
  font:12px/19px Georgia, Times, serif;
  color:#1d3e59;
}
.footer-block ul{
  background:url({{ solid.files_url }}/separator-add-block.png) repeat-y;
  padding:0 0 0 14px;
}
.footer-block ul li:first-child{
  background:none;
  padding:0 0 0 24px;
}
.footer-block ul li{
  padding:21px 0 0 24px;
  background:url({{ solid.files_url }}/separator-gorizontal.png) repeat-x;
  margin:0 0 11px;
  height: 70px;
}
.footer-block ul a strong{
  color:#b90c24;
  font:20px/10px "newberolina", Arial, Helvetica, sans-serif;
  display:block;
  margin:0 0 9px;
}
.footer-block ul a span{
  display:block;
}
.footer-block ul a{
  color:#1d3e59;
  font:12px/19px Georgia, Times, serif;
  width:185px;
}
.footer-block ul a.promotion{
  background:url({{ solid.files_url }}/img3.png) no-repeat 0 50%;
  padding:0 0 0 60px;
  display:block;
}
.footer-block ul a.faq{
  background:url({{ solid.files_url }}/img4.png) no-repeat 0 50%;
  padding:0 0 0 60px;
  display:block;
}
.footer-block ul a.terms{
  background:url({{ solid.files_url }}/img5.png) no-repeat 0 50%;
  padding:0 0 0 60px;
  display:block;
}
.footer-block ul a.extra{
  background:url({{ solid.files_url }}/img6.png) no-repeat 3px 49%;
  padding:0 0 0 70px;
  display:block;
}
.footer-block ul a.info{
  background:url({{ solid.files_url }}/img8.png) no-repeat 3px 50%;
  padding:0 0 0 70px;
  display:block;
}
.footer-block ul a.contact{
  background:url({{ solid.files_url }}/img7.png) no-repeat 0 50%;
  padding:0 0 0 70px;
  display:block;
}
.footer-block ul a.contact .mail{
  font-weight:bold;
}
.gallery-box .gallery-holder {
  overflow: hidden;
  float:left;
  width:297px;
  margin:0;
}
.gallery-box .gallery-holder .gholder {
  overflow: hidden;
  width: 100%;
  margin:0 0 13px;
}
.gallery-box .gallery-holder .gmask {
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 297px;
  float: left;
}
.gallery-box .gallery-holder .gmask  ul {
  list-style: none;
  overflow: hidden;
  height: 260px;
  padding: 0;
  margin: 0;
}
.gallery-box .gallery-holder .gmask  ul li {
  float: left;
  font-size: 60px;
  line-height: 100px;
  text-align: right;
  width: 297px;
  height: 260px;
}
.gallery-box .gallery-holder .pagination ul{
  font-weight: bold;
  list-style: none;
  text-align: right;
  padding: 5px 0;
  margin: 0;
  position:relative;
}
.gallery-box .gallery-holder .pagination li{
  display:inline-block;
  margin:0 0 0 10px;
}
.gallery-box .gallery-holder .pagination a {
  text-decoration: none;
  color: #00f;
  display:block;
  width:60px;
  height:60px;
}
.gallery-box .slideshow .gmask ul li {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery-box .slideshow .gmask ul li.active {
  z-index: 1;
}
.design-box{
  margin:11px 0 20px;
  width:965px;
  text-align:right;
}
.design{
  color:#666;
  font:10px Georgia, Times, serif;
  margin:0 38px 0 0;
}
.design a{
  color:#666;
}

th {padding: 15px;font:12px/19px Georgia, Times, serif;}
td {vertical-align: left; padding: 15px; font:12px/19px Georgia, Times, serif;}
th.left, td.left {text-align: left}
th.right, td.right {text-align: right}

li.horizontal {display: inline}

.error {height: 40px; color:#F00; width:400px; padding-left: 15px; font-size: 100%;}
.success {height: 40px; color:#3C3; width:400px; padding-left: 15px; font-size: 100%;}
.center {text-align: center;}

.bg {background:url({{ solid.files_url }}/bg.jpg) no-repeat;
background-position: 1px 300px;}


p.large {font:18px Georgia, Times, serif;}