{{ solid.embed("header")}}


<div id="main">



  <h2>Uw winkelmandje</h2>
  <div class="shoppingcartlarge">  
    {% set cart = cart.get() %}
      <form action="" method="post">
        <table width="90%">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th class="left">Item</th>
              <th class="left">Prijs</th>
              <th class="center">Aantal</th>
              <th class="right">Sub-totaal</th>
              <th class="center">Verwijder</th>
            </tr>
          </thead>

          <tbody>
            {% for item in cart.items %}

              <tr>
                <td>{% if item.thumbnail %}<a href="{{ item.url }}"><img width="40" height="40" src="{{ item.thumbnail }}" /></a>{% endif %}</td>
                <td>
                  <a href="{{ item.url }}" title="{{ item.name }}">{{ item.name }}</a><br />
                  {% for variant in item.variants %}
                    <span>{{ variant.name }} : {{ variant.value }}</span><br />
                  {% endfor %}
                </td>
                <td class="left">{{ item.price|currency("symbol") }}</td>
                <td class="center"><input style="text-align:right;" type="text" size="3" name="quantity_{{ item.id }}" value="{{ item.quantity }}" /></td>
                <td class="right">{{ item.price_total|currency("symbol") }}</td>
                <td class="center">
                  <a class="linkRemoveFromCart" href="/cart/remove/{{item.id}}" title="Remove From Cart" rel="{{ item.id }}">Verwijder</a>
                </td>  
              </tr>

              {% else %}
              <tr>
                <td colspan="9">
                  Uw winkelmandje is leeg. <a href="{{ solid.shop_url }}">Verder shoppen</a>?
                </td>
              </tr>
            {% endfor %}

            {% if cart.items_quantity > 0 %}
              {% if cart.tax_setting == "incl" %}
                <tr>
                  <td class="right" colspan="6">BTW is inbegrepen in de prijzen</td>
                </tr>
              {% endif %}

              <tr>
                <td colspan="5" class="right">Aantal</td>
                <td class="right">{{ cart.items_quantity }}</td>
              </tr>

              {% if cart.tax_setting == "excl" %}

                <tr>
                  <td colspan="5" class="right">Subtotaal</td>
                  <td class="right">{{ cart.items_price_total|currency("symbol") }}</td>
                </tr>

                <tr>
                  <td colspan="5" class="right">BTW</td>
                  <td class="right">{{ cart.items_tax|currency("symbol") }} {{ item.tax_setting }}</td>
                </tr>

              {% endif %}

              <tr>
                <td colspan="5" class="right">Verzending</td>
                <td class="right">{{ cart.shipping_total|currency("symbol") }}</td>
              </tr>

              <tr>
                <td colspan="5" class="right">Eindtotaal</td>
                <td class="right">{{ cart.total|currency("symbol") }}</td>
              </tr>
            {% endif %}

          </tbody>
        </table>

        Verzenden naar:  {{ solid.htmlShippingCountries() }}

      <input type="submit" value="Winkelmandje updaten" name="btnupdate" />  
      <input type="submit" value="Verder gaan" name="btncheckout" />         
    </form>
  </div>


</div>


{{ solid.embed("footer") }}