
{{ solid.embed("header")}}

{% set current_category = category.get() %}
        <div id="main">
          <h2>{{ current_category.name }}
            
        {% set parentCategory = category.getList({"id" : current_category.parent_id})[0] %}

         {% if current_category.subcategories|length > 0 %}
         <ul style="margin-left: 15px;">
           {% for subcat in current_category.subcategories %}
              <li class="horizontal"><a href="{{ subcat.url }}" title="{{ subcat.name }}">{{ subcat.name }}</a></li>
           {% endfor %}
         </ul>
         {% endif %}
          
          </h2>
          <div class="main-block">
            <div class="main-holder">

              {% set qry =  {"count": "30", "pagination": "true", "order": "id:desc", "cat": current_category.nicename} %}
              {{ solid.embed("products_ul",{qry : qry} )}}


            </div>
          </div>
          
  {{ solid.embed("pagination") }}
          
          

    </div>
  {{ solid.embed("footer") }}
