{% set current_category = category.get() %}
  {% set cart = cart.get() %}
    {{ solid.embed("header")}}

    <div id="main">
      <h2>Contacteer ons</h2>
      <div class="main-block">
        <div class="main-holder">
          
          <p>Mail ons rechtreeks via {{solid.getGlobal("contact_email")}} of via onderstaande contactformulier</p>
          
          <form action="/sendmail" method="post">
            <div>
              <p>Uw naam<br /><input type="text" id="naam" name="naam" /></p>
              <p>Uw emailadres<br /><input type="text" id="email" name="email" /></p>
              <p>Uw bericht<br /><textarea rows="5" cols="70" id="message" name="message"></textarea></p>
              
              {% set captcha = solid.getCaptcha() %}
                <p>Gelieve het woord hieronder in te vullen<br>
                  <input type="text" name='captcha[input]' id='captcha' />
                  <input name='captcha[id]' type='hidden' id='' value='{{ captcha.id }}' /></p>
                  <p><img src="{{ captcha.image }}" alt="Enter this word" /> </p>
                  <p><input type="submit" value="Verzenden" /></p>
                  {% if solid.getUrlsegment(3) == "false" %}<p class="error">Gelieve alle veldjes in te vullen aub</p>{% endif %}
                    {% if solid.getUrlsegment(3) == "true" %}<p class="success">Hartelijk dank. We hebben uw mailtje goed ontvangen.</p>{% endif %}

                    </div> 
                  </form>
                  

                </div>
              </div>
              
              
            </div>


            {{ solid.embed("footer") }}