{{ solid.embed("header")}}
        
       <div id="main">
          
          
          <div class="main-block">
            <div class="main-holder">
              {% set qry =  {"count": "9", "order": "popularity"} %}
              {{ solid.embed("products_ul",{qry : qry} )}}
            </div>
          </div>
          
          
        </div>




  {{ solid.embed("footer") }}
