{{ solid.embed("header")}}

{% set pageObject = page.get() %}

<div id="main">
  <h2>{{pageObject.name}}</h2>
  <div class="main-block">
    <div class="main-holder">
      <div>
        {{ pageObject.content }}
      </div>

    </div>
  </div>


</div>

{{ solid.embed("footer") }}