{{ solid.embed("header")}}

{% set product = product.get() %}
  {% set cart = cart.get() %}

    <div id="main">

      <div class="block">
        <div class="block-holder">
          <div class="block-frame">
            <div class="column">

              <div class="column-block">

                  <h3 class="low"></h3>
                  <div>
                    {{ product.description }}
                  </div>
              </div>
            </div>


           
                <div class="gallery-frame">
                  <h2>{{ product.name }}</h2>
                  <div class="gallery-box">
                    <div class="gallery-holder slideshow">
                      <div class="gholder">
                        <div class="gmask">



                          <ul>
                            {% for image in product.images %}
                              <li><a href="#"><img src="{{ image.full }}" width="297px"  alt="{{ product.name }}" /></a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                      <div class="pagination">
                        <ul>
                          {% for image in product.images %}
                            <li><a href="#"><img src="{{ image.thumbnail }}" width="60px" height="60px" alt="{{ product.name }}" /></a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    <div class="gallery-info">
                      <dl>
                        <dt>Beschikbaarheid: </dt><dd>op voorraad</dd>
                        <dt>Artikelcode: </dt><dd></dd>
                      </dl>
                      
                      

                      <a href="/cart/add/{{product.id}}" class="to-basket"><span>in winkelmandje</span></a>
                      <strong>{{ product.price|currency("symbol") }}</strong>
                    </div>
                  </div>
                </div>
              
           
          </div>
        </div>
      </div>

    </div>
    {{ solid.embed("footer") }}
