{{  solid.setGlobal("contact_street", "My street 123") }}
{{  solid.setGlobal("contact_city", "1234 City") }}
{{  solid.setGlobal("contact_phone", "0499 12 34 56") }}
{{  solid.setGlobal("contact_email", "demo@demo.com") }}

{{  solid.setGlobal("header_slogan", "Wij zijn gespecialiseerd in A, B en C.") }}
{{  solid.setGlobal("header_info", "Dit is meer informatie over ons. Wij bestaan sinds 2000 en hebben ondertussen al duizenden klanten geholpen.") }}
{{  solid.setGlobal("header_more", "Vergeet zeker niet te kijken naar ...") }}