
      </div>
    </div>
<div id="footer">
    <div class="footer-holder">
      <div class="footer-frame">
              <div class="footer-contact">
                <h4>
                  Contacteer ons
                </h4>
                <address>
                  <strong>{{solid.getGlobal("contact_street")}}</strong>
                  <strong>{{solid.getGlobal("contact_city")}}</strong>
                </address>
                <div class="contact-info">
                  <strong>{{solid.getGlobal("contact_phone")}}</strong>
                  <a href="mailto:{{solid.getGlobal("contact_email")}}">{{solid.getGlobal("contact_email")}}</a>
                </div>
              </div>


        <div class="block-holder">
          <div class="footer-box">
            {% set pageObject = page.get("about-us") %}
            <div>
              {{pageObject.content}}
            </div>
          </div>

 

          <div class="footer-block">
            <ul>
            {% set arr_products = product.getList({count:3,order:"popularity"}) %}
            {% for productObject in arr_products %}
 <li><a href="{{productObject.url}}" class="info"><strong>{{productObject.name}}</strong><span>{{productObject.name}}</span></a></li>
            {% endfor %}
            </ul>
          </div>

          <div class="footer-block">
            <ul>
            <li>
                <a href="/contact" class="info"><strong>Contact</strong><span>Contacteer ons</span></a>
            </li>
            {% set arr_pages = page.getList({count:2}) %}
            {% for pageObject in arr_pages %}
 <li><a href="{{pageObject.url}}" class="info"><strong>{{pageObject.name}}</strong><span>{{pageObject.name}}</span></a></li>
            {% endfor %}
            </ul>
          </div>


        </div>
      </div>
    </div>
    <div class="design-box">
      <strong class="design">design by <a href="http://www.webnology.be" target="_blank">webnology</a></strong>
    </div>
  </div>
</div>



</body>
</html>