<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% set cart = cart.get() %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  {% set firstsegment = solid.getUrlsegment(1) %}
  {% if firstsegment == "" %}
    {% set meta_title = solid.shop_name %}
    {% set meta_description = solid.shop_name %}
    {% set meta_keywords = solid.shop_name %}
  {% elseif firstsegment == "page" %}
    {% set pageObject = page.get() %}
    {% set meta_title = solid.shop_name ~ ' -> ' ~ pageObject.name %}
    {% set meta_description = pageObject.content|strip_tags|trim %}
    {% set meta_keywords = "" %}
  {% elseif firstsegment == "category" %}
    {% set categoryObject = category.get() %}  
    {% set meta_title = solid.shop_name ~ ' -> ' ~ categoryObject.name %}
    {% set meta_description = categoryObject.name %}
    {% set meta_keywords = categoryObject.name %} 
  {% elseif firstsegment == "cart" %}
    {% set meta_title = solid.shop_name ~ ' ->  cart' %}
    {% set meta_description = "Cart for " ~ solid.shop_name %}
    {% set meta_keywords = ""%}    
  {% elseif firstsegment == "search" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ " search results for "~ " " ~ solid.getUrlsegment(2)|url_decode %}
        {% set meta_description = "" %}
        {% set meta_keywords = "" %}
  {% elseif firstsegment == "contact" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ "Contact" %}
        {% set meta_description = "" %}
        {% set meta_keywords = "" %}
  {% elseif firstsegment == "product" %}
    {% set productObject = product.get() %} 
        {% set meta_title = solid.shop_name ~ ' -> ' ~ productObject.name %}
        {% set meta_description = productObject.description %}
        {% set meta_keywords = "" %} 
  {% endif %}
  
  <title>{{ meta_title }}</title> 
  <meta name="description" content="{{ meta_description|strip_tags }}" />
  <meta name="keywords" content="{{ meta_keywords|strip_tags }}" /> 

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  {{ solid.css("all.css") }}
  {{ solid.embed("config") }}
  <script type="text/javascript" src="{{ solid.files_url }}/main.js"></script>
  <!--[if lt IE 8]>{{ solid.css("ie.css") }}<![endif]-->
  <script type="text/javascript" language="javascript">
        $(function() {
           // $(this).bind("contextmenu", function(e) { 
                //e.preventDefault();
            //});
        }); 
    </script>
</head>
<body>
  <div id="wrapper">
    <div id="content">
      <div class="content-holder">
        <div id="header">
          <div class="block-holder">
            <div class="block">
              <ul>
                <li><a href="/cart" class="basket">Winkelmandje</a></li>
              </ul>
            </div>
          </div>
          <div class="box">
            <strong class="logo"><a href="{{solid.shop_url}}">{{ shop.name}}}</a></strong>
            <div class="basket-block">
              <a href="/cart" class="value"><span>{{ cart.total }} €</span></a>
            <div class="basket-frame">
              <strong>Winkelmandje </strong>
              <a href="/cart">{{ cart.items_quantity }} artikel(s)</a>
            </div>
            </div>
            <div class="frame">
              <h1>{{ solid.getGlobal("header_slogan") }}</h1>
              <p>{{ solid.getGlobal("header_info") }}</p>
              <p class="large">{{ solid.getGlobal("header_more") }}</p>
            </div>
          </div>
              {{ solid.embed("nav") }}
        </div>