

{% set arr_categories = category.getList() %}

<ul class="nav center1">
	<li><a href="{{solid.shop_url}}" class="home">Home</a></li>

	{% for categoryObject in arr_categories %}
		 <li><a href="{{categoryObject.url}}" title="{{categoryObject.name}}">{{categoryObject.name}}</a></li>

		
	{% endfor %}



</ul>