<ul>

  {% set products = product.getList(embed.qry) %}
  {% for product in products %}
  <li>
    <div class="main-box">
      <div class="main-frame">
        {% set str_img = product.thumbnail %}
        {% if str_img == "" %}
          {% set str_img = solid.files_url ~ "/notfound.jpg" %}
        {% endif %}
        <a href="{{product.url}}"><img src="{{ str_img }}" width="200" height="200" alt="{{  product.name }}" /></a>
        <strong>{{product.name}}</strong>
        <strong>{{ product.price|currency("symbol") }}</strong>
        <a href="/cart/add/{{product.id}}" class="to-basket"><span>in winkelmandje</span></a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>